<tr id="message_<%=@message.id%>" class='highlightable'>
	<%if @message%>
		<td><%= link_to @message.sender.login, {:action => 'profile', :username => @message.sender.login}, {:class => 'unread_message'} %></td>
		<td><%= link_to truncate(@message.description,40,'...'), {:action => 'show_message', :id => @message.id}, {:class => 'unread_message'} %></td>
		<td class='unread_message'><%= @message.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
	<%end%>
</tr>