<STYLE TYPE="text/css" MEDIA=screen>
<!--
  a  { color: red }
-->
</STYLE>

<%= js add_gritter("You received a new message from <a href='/profile/#{@message.sender.login}'>#{@message.sender.login}"</a>,:image => :notice, :title => "New Message") %>