<STYLE TYPE="text/css" MEDIA=screen>
<!--
  a  { color: red }
-->
</STYLE>

<%= js add_gritter("Congratulations! You won the item <a href='/items/#{@highest.item.id}'>#{@highest.item.name}</a>",:image => :notice, :title => "Winnder!") %>