<!-- HEADER STARTS -->
    <div id="header">
    	<a href="index.html"><img src="images/logo.gif" alt="Family Portal" width="127" height="42" border="0" title="Family Portal" /></a>
        <h2 class="punchline">Make your family together</h2>
    	<ul>
        	<li><a href="#" title="CONTACT US">CONTACT US</a></li>
        	<li><a href="#" title="HOT LINKS">HOT LINKS</a></li>
        	<li><a href="#" title="KIDS">KIDS</a></li>
            <li><a href="#" title="HEALTH">HEALTH</a></li>
            <li><a href="#" title="ADVICE">ADVICE</a></li>
            <li><a href="#" title="NEWS">NEWS</a></li>
            <li><a href="#" title="ABOUT US">ABOUT US</a></li>
            <li><span>HOME</span></li>
      </ul>
  <form action="" method="post" enctype="multipart/form-data">
        	<h2>Members login</h2>            
            <label for="name">name</label>
            <input name="name" type="text" class="txtBox" id="name" />
            <label for="email">email</label>
            <input name="email" type="text" class="txtBox" id="email" />
            <input type="image" src="images/submit_btn.gif" name="Submit" class="submitBtn" />
      </form>
</div>
<!-- HEADER ENDS -->
<!-- BODY STARTS -->
	<div id="body">
    <!-- LEFT PANEL -->
    	<div id="leftPanel">
        	<h2>Welcome to our Family website</h2>
            <p class="topPad"><strong>Free CSS Templates</strong>         This is Family Portal, a free, fully standards-compliant CSS template designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>.
          <br /> This free template is released under a Creative Commons Attributions 2.5 license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) 
</p>
            <p class="moreBtn"><a href="#" title="more">more</a></p>
        	<h2>Family News</h2>
        <!-- FAMILY NEWS -->
            <div class="news">
            	<p><strong>01.01.2007</strong></p>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, aliquip ex ea commosunt in culpa qui officia deserunt mollit anim id.</p>
            <p class="moreBtn1"><a href="#" title="more">more</a></p>
            </div>
            <div class="news newsRight">
            	<p><strong>03.01.2007</strong></p>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, aliquip ex ea commosunt in culpa qui officia deserunt mollit anim id.</p>
            <p class="moreBtn1"><a href="#" title="more">more</a></p>
            </div>
    </div>
    <!-- LEFT PANEL -->
   	  <div id="rightPanel">
        	<h2>SITE Directory</h2>
            <ul>
                <li><a href="#" title="Guides">Guides</a></li>
                <li><a href="#" title="Helth&amp;Safly">Helth&amp;Safly</a></li>
                <li><a href="#" title="Adoption">Adoption</a></li>
                <li><a href="#" title="Just for">Just for</a></li>
                <li><a href="#" title="Death&amp;Dying">Death&amp;Dying</a></li>
                <li><a href="#" title="Fath">Fath</a></li>
                <li><a href="#" title="FamilyPlanning">FamilyPlanning</a></li>
                <li><a href="#" title="Newborns">Newborns</a></li>
                <li><a href="#" title="Children">Children</a></li>
                <li><a href="#" title="Work">Work</a></li>
            </ul>
            <a href="#"><img src="images/banner.jpg" alt="Family Doctor" title="Family Doctor" width="143" height="105" /></a>       </div>    
    <br class="spacer" /></div>
<!-- BODY ENDS -->
<!-- FOOTER STARTS -->
	<div id="footer">
    	<ul>
        	<li><a href="#" title="CONTACT US">CONTACT US</a></li>
        	<li><a href="#" title="HOT LINKS">HOT LINKS</a></li>
        	<li><a href="#" title="KIDS">KIDS</a></li>
            <li><a href="#" title="HEALTH">HEALTH</a></li>
            <li><a href="#" title="ADVICE">ADVICE</a></li>
            <li><a href="#" title="NEWS">NEWS</a></li>
            <li><a href="#" title="ABOUT US">ABOUT US</a></li>
            <li><a href="#" title="HOME">HOME</a></li>
    </ul>
        <p>Copyright information goes here<br class="spacer" />
<a href="http://www.templatesold.com/" target="_blank">Website Templates</a> by <a href="http://www.free-css-templates.com/" target="_blank">Free CSS Templates</a></p>
</div>
<!-- FOOTER ENDS -->