<div id="columns">
	<div id="side">
  		<%=link_to "Manage Users", :action => 'manage_users'%><br/>
		<%=link_to "Manage Auctions", :action => 'manage_auctions'%><br/>
		<%=link_to "Manage Item Categories", :action => 'manage_item_categories'%><br/>
    </div>
    <div id="main">
    </div>
</div>