body {
background-color:#259086;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
color:#333333;
}

#page {
width:900px;
background-image:url(images/page.png);
margin:auto;
padding:auto;
}

#header {
clear:both;
width:900px;
height:50px;
background-image:url(images/header.png);
}

#headerleft {
	width:200px;
	text-align:right;
	float:right;
	min-height:60px;
	padding-right:15px;
}

#menulinks {
	width:240px;
	float:left;
}
  
#menulinks a {
	width:240px;
	padding-right:20px;
	padding-top:12px;
	height:35px;
   background-image:none;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	text-align:right;
  }
  
#menulinks a:hover {
	background-image:url(images/menuhover.png);
	background-position:top right;
	text-decoration:none;
	color:#FFFFFF;
}

#menulinks a.active, #menulinks a:hover.active {
	background-image:url(images/menuactive.png);
	background-position:top right;
	text-decoration:none;
	color:#FFFFFF;
}

#mainarea {
width:900px;
clear:both;
} 

#contentarea {
width:560px;
padding-left:20px;
float:left; 
line-height:14pt;
padding-bottom:10px;
} 

#sidebar {
float:left;
width:250px;
line-height:14pt;
}

#footer {
width:850px;
padding-right:50px;
clear:both;
height:35px;
padding-top:23px;
text-align:right;
line-height:14pt;
background-image:url(images/footer.png);
background-repeat:no-repeat;
color:#FFFFFF;
}

#footer a {
color:#FFFFFF;
}

h1 {
font-size:20pt;
color:#FFFFFF;
line-height:25pt;
margin:0;
}

h1 a {
color:#FFFFFF;
}

h2 {
font-size:12pt;
color:#333333;
padding-top:6px;}

a {
color:#555555;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}