body {
	
/*	background-image: url('../images/background-gradient.png');*/
/*	background-repeat:repeat-x;aadb6d*/
	/* Chrome, Safari:*/
/*    	background: -webkit-gradient(linear, right top, right bottom, from(#000000), to(#FFFFFF)); */
	background: url('/images/background_black.jpg') repeat scroll left top; 
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
}

.clear{
	clear: both;
}

#header {
	width: 100%;
	height: 50px;
	background-color:transparent;
}

#header a{
	color:white;
	font-weight:600;
	font-size:14px;	
	margin-bottom:0px;
	font-family: sans-serif;
}
#header a:hover{	
	font-weight:625;	
	text-shadow: white 0.1em 0.1em 0.2em;	
	-moz-border-top-left-radius: 5px 5px;
	-moz-border-top-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	
	background: url('/images/gray_background.jpg') repeat scroll left top;
	border: 1px solid white;
	border-bottom:none;
	-moz-box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	box-shadow: 3px 3px 1px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#logo {
	display:block;
	margin-top:15px;
	float:left;
	width:120px;
	height:40px;
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	background-color:black ;
}

#logo a{

}

#login_box{
	margin-left:15px;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:15px;
	padding-right:15px;
	background:#555;
	border: 1px solid black;
	width: 200px;
	height: 120px;

	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#login_table{
}

#login_id_label{	
	color:white;
	width: 37%;
	margin-right:10px;
	padding:0px;
	padding-left:3px;
	nowrap:10;
	margin:0px;
	vertical-align:text-top;
}


#login_password_label{
	color:white;
	text-align:left;
	width: 37%;
	padding:0px;
	padding-left:3px;
	margin:0px;
	vertical-align:text-top;
}


#login_password_box_field{
	padding:0px;
	padding-top:10px;
	width: 50%;
	vertical-align:text-top;
}

#login_id_box_field{	
	padding:0px;
	width: 50%;
	vertical-align:text-top;
}


#login_box_button{
	color:white;
	padding:0px;
	font-size:20px;
}

.content{
	width:950px;
	margin:auto;
	overflow:hidden;
}

#content{
	background-color: transparent;
}

.header_link{
	float:left;
	width:145px;
	margin:30px 0px 30px 0;
	text-decoration:none;
	text-align:center;
}

.user_bar{
	text-align:right;
}

#main_content{
	margin-top:22px;
	margin-bottom:22px;
	background: url('/images/gray_background.jpg') repeat scroll left top; 
	top:100%;
	width:1000px;
	min-height:40%;
	color:white;
	text-shadow: black 0.1em 0.1em 0.2em;	
	border: 1px solid white;
	padding:10px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	box-shadow: 3px 3px 1px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.box{
	background-color:#92b75b;
	overflow:hidden;
	padding:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
/*SECTIONS FOR LIST*/
ul.ajax_list{
	list-style-type: none;
	list-style-position: none;
	margin:0;
	padding:0;
	color:black;
}

.section{
	width:200px;
	text-align:left;
	float:left;
}

.user_id_section{
	width:50px;
	text-align:left;
	float:left;
}

.user_username_section{
	width:300px;
	text-align:left;
	float:left;
}

.user_email_section{
	width:400px;
	text-align:left;
	float:left;
}

.user_active_section{
	width:100px;
	text-align:left;
	float:left;
}

.user_category_section{
	width:50px;
	text-align:left;
	float:left;
}

.commenter{
   width:200px;
   text-align:left;
   float:left;
   font-family:fantasy;
   font-weight:bold;
   color: rgb(255,165,0);
}

.comment_desc{
	width: 700px;
	text-align:left;
	float:right:
	display: block;
	overflow: auto;
}

li.comment{
	height:auto;
	padding-top:5px;
	clear:both;
	border-bottom:1px dotted grey;
	width:100%;
}

.first{
	float:left;
	text-align:left;
}

.last{
	float:right;
	text-align:right;
}

.second_to_last{
	float:left;
	text-align:left;
}

li.highlightable{
	height:25px;
	padding-top:5px;
	clear:both;all_comments
	border-bottom:1px dotted grey;
	width:100%;
	
}

li.highlightable a{
	text-decoration:none;
	color:black;
}


.highlightable:hover{
	background-color:lightyellow;
	color:blue;
}

.slide_down{
	border: 4px solid grey;
	background-color: darkgrey;
	padding:10px 5px 0 5px;
}

.slide_down_ebay{
	width: 150px;
	border: 4px solid grey;
	background-color: darkgrey;
	padding:10px 5px 0 5px;
}

.float-r{
	float:right;
}

.float-l{
	float:left;
}

.centered{
	margin:auto;
}

.slide_down h3{
	margin:0 4px 10px 0;
}

.slide_down label{
	color:darkblue;
}

.errorExplanation{
	background-color:lightsalmon;
	border:5px solid red;
}

.fieldWithErrors input{
	background-color:lightsalmon;
}

#flash_error{
	background-color:lightsalmon;
	height:25px;
}

#flash_notice{
	background-color:lightgreen;
	height:25px;
}

.flash{
	width:100%;
/*	margin:auto;*/
	text-indent:10px;
	border:1px dotted grey;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#popup{
	width:200px;
	height:80px;
	border:1px solid #ff9900;
	position: absolute;
    bottom: 2px;
	left: 20;
}

.awesome{
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}

#columns {
  background: transparent;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
}

#main {

  margin-left: 13em;
  margin-top: 5px;
  padding-top: 4ex;
  padding-left: 2em;
  background: transparent;
   -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #080808;
    -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
}

#side a{
	background:transparent;color:#999;font-weight:700;text-decoration:none;
}

#profile_head{
	height:200px;
}


#small_profile_head{
	height:200px;
	
}

#profile_head_photo{
	width: 30%;
	float:left;
}

#profile_head_login{
	width: 70%;
	float:right;
}

#profile_info{
	align:center;
}

#basic_info_col1{
	float:left;
	width: 20%;
}


#basic_info_col1{
	float:left;
	width: 20%;
}

#basic_info_col2{
	float:left;
	width: 10%;
}

#basic_info_col3{
	float:left;
	width:70%;
	margin-left: 16px;
}


#small_basic_info_col3{
	float:left;
	width:70%;
	margin-left: 16px;
}


#user_profile_photo{
	position: relative;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
}


#small_user_profile_photo{
	position: relative;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#user_profile_login{
	text-align:left
	float: left;
	font-family:"Lucida Console";
	font-size: 1.0cm;
}


#small_user_profile_login{
	text-align:left
	float: left;
	font-family:"Lucida Console";
	font-size: 1.0cm;
}

#profile_head_login {
	position: relative;
	font-family:"Lucida Console";
	font-size: 1.0cm;
}

#user_profile_email{
	position: relative;
}

#user_profile_address{
	position: relative;
}

#user_profile_phone{
	position: relative;
}

#user_profile_report{
	position: relative;
}

#user_profile_follow{
	position: relative;
}

#user_profile_right{
	border: 5px;
	margin-top: 70px;
	margin-left: 20px;
	width: 500px;
}

#small_user_profile_right{
	border: 5px;
	margin-top: 70px;
	margin-left: 20px;
	width: 500px;
}

.small_box{
	width: 285px;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.small_box_price{
	width: 50px;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.medium_box{
	width: 100%;
	height: 24px;
	padding-left: 2px;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#login_box_button{
	padding-top:10px;
	padding-bottom:1000px;
}

#login_box{
	padding-top:15px;
	padding-right:25px;
	padding-bottom:10px;
}

#login_password{
	padding-top:10px;
}

.send_to_box{
	width: 30%;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#small_box_id{
	width: 100%;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#small_box_password{
	width: 100%;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


#search_field_box{
	width: 350px;
	height: 30px;
	float:left;
	
	font-size: 18px;
	margin-top: 10px;
	/*margin-left: 160px;*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 4px 4px 5px #000;
	-webkit-box-shadow: 4px 4px 5px #000;
	box-shadow: 4px 5px 5px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}

.user_item{
	width:60px;
	float:left;
	padding:10px;
	margin-right:50px;
	padding-bottom:20px;
}

#item_photo{
	float:left;
	border: 5px;
	margin-left: 20px;
}

#item_info{
	float:left;
	border: 5px;
	margin-left: 20px;
	width: 500px;
}

#item_description{
	padding-left:5px;
	padding: 5px;
	width: 30%;
	height: 120px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#item_description_show{
	padding-left:5px;
	padding:5px;
	background:#101010;
	border: 1px solid black;
	width: 80%;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#item_actual_description{
	margin-left:5px;
}

#item_auction{
	padding-top:20px;
	margin-left:20px;
	padding-bottom:20px;
	background:#202020;
	width:800px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#highest_bid_div{
	padding-left:5px;
	background:#201010;
	border: 2px solid black;
	width: 50%;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

.horiz_line{
	color: red;		
}


.no_underline{
	text-decoration: none;
}

pre {
white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
white-space: -pre-wrap; /* Opera 4 - 6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
word-wrap: break-word; /* IE 5.5+ */
width: 650px;
}

.unread_message{
	color: tomato;
	font-weight:900;
}

/*COUNTER SPECIFIC STYLES */
.counter{
	width: 610px;
}
.counter ul.countdown{
	list-style-type: none;
	color: white;
	font-weight: bold;
	text-align: center;
}
.counter ul.countdown li{
	float: left;
	background: url(digit.png) no-repeat;
	height:110px;
	width: 105px;
	padding-top: 15px;
}
.counter ul.countdown li div{
	font-size: 15px;
}
.counter ul.countdown li div.countdown_num{
	font-size: 48px;
}
.counter ul.countdown li.no_countdown{
	padding-top:4px;
	background:transparent;
	height:110px;
	width:180px;
}

#description {
	width: 300px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
}

#sender_box {
	border: 1px solid grey;
	color:black;
	display:block;
	width:10%;
	height:20px;
	padding:2px;
	padding-left:6px;
	padding-top:5px;
	text-align:left;
	
	word-wrap: break-word;
	-moz-box-shadow:  inset 1px 1px 6px #000;
	-webkit-box-shadow: inset 1px 1px 6px #000;
	box-shadow:  inset 1px 1px 6px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#message_content {
 	width: 300px;
 	border: 1px solid grey;
 	padding: 10px;
	color:white;
	word-wrap: break-word;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow:  inset 1px 1px 6px #000;
	-webkit-box-shadow: inset 1px 1px 6px #000;
	box-shadow:  inset 1px 1px 6px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


#message_content_sent {
 	width: 300px;
 	border: 1px solid grey;
 	padding: 10px;
	color:black;
	word-wrap: break-word;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow:  inset 1px 1px 6px #000;
	-webkit-box-shadow: inset 1px 1px 6px #000;
	box-shadow:  inset 1px 1px 6px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#message_button{
	padding: 5px;	
	padding-top: 10px;
	padding-bottom: 15px;
}
 		
#comments_box {
	width: 800px;
	max-width:100px;
	word-wrap: break-word;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow:  inset 1px 1px 6px #000;
	-webkit-box-shadow: inset 1px 1px 6px #000;
	box-shadow:  inset 1px 1px 6px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.comment_body {

}

#comment_left{
float: left;
}


#comment_right{
float: left;
}

#first_button{
	padding: 4px 0px 4px 0px
}

.FreezePaneOff{
    visibility: hidden;
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
}

.FreezePaneOn{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    padding-top: 20%;
}

.InnerFreezePane{
    text-align: center;
    width: 66%;
    background-color: black;
    color: White;
    font-size: large;
	font-color: white;
    /*border: dashed 2px #111;*/
    padding: 9px;
}

.watched_item{
	width:10%;
	display:block;
	float:left;
	list-style:none;
	text-align:center;
	padding:15px;
	position:relative;
}

.watched_item_photo{
	text-align:center;
}

.watched_item_name{
	text-align:center;
}

.watched_item_name a{
	color:orange;
}

.watched_item_name a:hover{
	color:red;
}

.watched_item_price{
	text-align:center;
	color:green;
}

.watched_item_bid_price{
	text-align:center;
	color:purple;
}

.watched_item_category{
	text-align:center;
	color:blue;
}

.followed_item{
	width:10%;
	display:block;
	float:left;
	list-style:none;
	text-align:center;
	padding:15px;
	position:relative;
}

.followed_item_photo{
	text-align:center;
}

.followed_item_name{
	text-align:center;
}

.followed_item_name a{
	color:orange;
}

.followed_item_name a:hover{
	color:red;
}

.followed_item_price{
	text-align:center;
	color:green;
}

.followed_item_bid_price{
	text-align:center;
	color:purple;
}

.followed_item_category{
	text-align:center;
	color:blue;
}

.posted_item{
	width:20%;
	text-align:left;
	position:relative;
}

.posted_item_photo{
	text-align:center;
}

.posted_item_name{.sbl { background: url('bl.gif') bottom left no-repeat #EDEDED; width: 30%; text-align: center; min-width: 100px; }
.sbr { background: url('br.gif') bottom right no-repeat; }
.stl { background: url('tl.gif') top left no-repeat; }
.str { background: url('tr.gif') top right no-repeat; padding: 10px; } 
.sb { padding: 2px 0px 10px 50px; background: url('b.gif') 30px top no-repeat; }
	text-align:center;
}

.posted_item_name a{
	color:orange;
}

.posted_item_name a:hover{
	color:red;
}

.posted_item_price{
	text-align:center;
	color:green;
}

.posted_item_bid_price{
	text-align:center;
	color:purple;
}

.posted_item_category{
	text-align:center;
	color:blue;
}


.searched_items{
	float:left;
	width:730px;
	padding-left:10px;
}

.searched_item{
	width:179px;
	height:210px;
	margin-right:30px;
	background: url('/images/searched_item.gif') no-repeat 50% 50%;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	display:block;
	float:left;
	list-style:none;
	text-align:center;
	padding:15px;
	margin-bottom:2em;
	position:relative;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.searched_item_photo{
	text-align:center;
}

.searched_item_name{
	text-align:center;
}

.searched_item_name a{
	color:orange;
}

.searched_item_name a:hover{
	color:red;
}

.searched_item_price{
	text-align:center;
	color:green;
}

.searched_item_bid_price{
	text-align:center;
	color:purple;
}

.searched_item_category{
	text-align:center;
	color:blue;
}

.searched_item_time2{
	
}

.searched_item_time{
	color:black;
}

.history_item_name a {
	color:orange;
}

.history_item_name {
	margin-left:10px;
}

#sold_transac{
	margin-left:10px;
}

#bought_transac{
	margin-left:10px;
}	
.history_item_name a:hover{
	color:red;
}

#infoBar h2{
	background: white;
	margin: 0px auto;
	height: 2em;
	width: 845px;
	margin-bottom: 10px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	box-shadow: 3px 3px 1px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.searched_items_index{
background-color:white;
margin: 0px auto;
padding: 1.7em;
width: 800px;
height: 310px;
-moz-border-radius: 15px; 
-webkit-border-radius: 15px;
-moz-border-radius: 15px; 
-webkit-border-radius: 15px;
-moz-box-shadow: 3px 3px 1px #ccc;
-webkit-box-shadow: 3px 3px 1px #ccc;
box-shadow: 3px 3px 1px #ccc;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#around_clock{
-moz-border-top-left-radius: 5px 5px;
	-moz-border-top-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;

	border: 1px solid black;
}

#show_item_left{
	width:75px;
	float:left;
}

#show_item_right{
	background:ivory;
	width:650px;
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	box-shadow: 3px 3px 1px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#show_item_middle{
	width:200px;
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin-right: 20px;
	background:ivory;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	box-shadow: 3px 3px 1px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#show_item_seller{

}

#show_item_seller_label{
	font-family: Georgia, serif;
	color:yellow;
	font-weight:bold;
}


#show_item_item{
	height: 30px;
}

#show_item_item_label{
	float:left;
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;
	width: 100px;
}

#show_item_item_name{
	font-family:Comic Sans, Comic Sans MS, cursive;
	width:600px;
	color:black;
}

#show_item_item_watch{
	float:left;
}

#show_item_price{
	height: 30px;
	color:black;
}

#show_item_price_label{
	float:left;
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;
	width: 100px;
}

#show_item_price_price{
	font-family:Comic Sans, Comic Sans MS, cursive;
	width:300px;
	color:black;
}

#show_item_bin_price{
	height: 30px;
	color:black;
}

#show_item_bin_price_label{
	float:left;
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;
	width: 100px;
}

#show_item_bin_price_price{
	font-family:Comic Sans, Comic Sans MS, cursive;
	width:50px;
	color:black;
	float:left;
}

#show_item_bin_button{
	float: right;
	width:30px;
	margin-right:10px;
}

#show_item_time{
	height: 100px;
	color:black;
}

#show_item_time_label{
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;
	width: 150px;
}

#show_item_time_time_left{
	width:200px;
}

#show_item_desc{

}

#show_item_desc_label{
	float:left;
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;
	width: 100px;
}

#show_item_desc_desc{
	font-family:Comic Sans, Comic Sans MS, cursive;
	width:600px;
	color:black;
}

#show_item_photo{

}

#show_item_photo_label{
	float:left;
	font-family: Georgia, serif;
	color:orangered;
	font-weight:bold;	
	width: 100px;
}

#show_item_photo_photo{
	width:600px;
}

#highest_bid{
	width:300px;
	float:left;
	font-family:Oldtown, fantasy;
	color:white;
	margin-top:10px;
}

#result_label{
	font-family:fantasy;
	padding-bottom:15px;
	width: 400px;
	padding-left:59px;
	font-size:23px;
	float:left;
}

.searched_item_time div { float: left; width: 32px; height: 45px; 
    background: url('/images/countdownGlowing.gif') no-repeat 0px 0px; } 
.searched_item_time div.image0 { background-position: -0px 0px; } 
.searched_item_time div.image1 { background-position: -34px 0px; } 
.searched_item_time div.image2 { background-position: -68px 0px; } 
.searched_item_time div.image3 { background-position: -102px 0px; } 
.searched_item_time div.image4 { background-position: -136px 0px; } 
.searched_item_time div.image5 { background-position: -170px 0px; } 
.searched_item_time div.image6 { background-position: -204px 0px; } 
.searched_item_time div.image7 { background-position: -238px 0px; } 
.searched_item_time div.image8 { background-position: -272px 0px; } 
.searched_item_time div.image9 { background-position: -306px 0px; } 
.searched_item_time div.imageDay { background-position: -340px 0px; } 
.searched_item_time div.imageSep { background-position: -374px 0px; } 
.searched_item_time div.imageSpace { background-position: -408px 0px; }

#user_profile_rating {
	width:130px;
	padding-left:35px;
}

#all_comments {
background:transparent;
}

.sbl { background: url('/images/bl2.gif') bottom left no-repeat #EDEDED; width: 30%;
		text-align: center; min-width: 20px;word-wrap: break-word;
		-moz-border-radius: 15px 15px;
		-moz-border-radius: 15px 15px;
		-webkit-border-radius: 15px 15px;
		-webkit-border-radius: 15px 15px;

}
.sbr { background: url('/images/br2.gif') bottom right no-repeat; }
.stl { background: url('/images/tl2.gif') top left no-repeat; }
.str { background: url('/images/tr2.gif') top right no-repeat; padding: 10px; color:black; font-weight:600; } 
.sb { padding: 2px 0px 10px 50px; background: url('/images/b2.gif') 30px top no-repeat; }

#user_profile_followers{
	display:hidden;
}

.bid_link{
	background-color:orange;width:70px;margin-left:50px;border: 1px solid black;-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

#ebay_list{
	width: 70px;
}

#search_ebay{
	width:180px;
	float:right;
}

.index_search_pages span{
	color:black;
}

.index_search_pages a{
	color:#3399FF;
}

/*.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}*/
.button {
    border: none;
    background: url('/images/up.png') no-repeat top left;
    padding: 2px 8px;
}
.button:hover {
    border: none;
    background: url('/images/pressed.png') no-repeat top left;
    padding: 2px 8px;
}
/*label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }
*/

#new_item{
	padding-left:15px;
}


#user_items_whole{
	padding-left:15px;
}
#item_category_{
	margin-top:10px;
	margin-left:250px;
	width:120px;
	height:30px;
	float:left;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 4px 4px 5px #000;
	-webkit-box-shadow: 4px 4px 5px #000;
	box-shadow: 4px 5px 5px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}



