<div id="profile_photo">
	<p><% if @user.profile_photo_file_name %>
		<%= image_tag @user.profile_photo.url(:medium) %>
	   <% else %>
		<%= image_tag('/images/big_default.jpg') %>
	   <% end %>
	</p>
</div>
