<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<h1>Request link to reset password:</h1>
<br>
<span id='forgot_p'>
	<span id='forgot_e_label'>
		Email : <%= f.text_field :email %>
	</span><br><br>
		<%= submit_tag 'Submit' %>
</span>
<% end -%>
