<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<h2>Request link to reset password:</h2>
<br>
<div id='forgot_p'>
	<div id='forgot_e_label'>
		Email: <%= f.text_field :email %>
	</div><br>
		<%= submit_tag 'Submit' %>

<% end -%>
</div>
