<div id="columns">
	<div id="side">
  		<%= render :partial => 'messagebox_menu' %>
    </div>
    <div id="main">
		<table id="sent_messages">
		  <thead>
			<th>Receiver</th>
			<th>Message</th>
			<th>Date/Time</th>
		  </thead>
		  <tbody>
		  	<% if @sent_messages.count > 0 %>
			  	<% for message in @sent_messages %>
			    	<tr id="message_#{message.id}" class='highlightable'>
						<%if message%>
			    			<td><%= link_to message.receiver.login, :action => 'profile', :username => message.receiver.login %></td>
							<td><%= link_to truncate(message.description,40,'...'), :action => 'show_sent_message', :id => message.id %></td>
							<td><%= message.created_at.strftime("%y-%m-%d %H:%M") %></td>
						<%end%>
					</tr>
				<% end %>
			  <% else %>
				<tr>
					<td><b><center>You have no sent messages!</center></b></td>
				</tr>
			  <% end %>
		  </tbody>
		</table>
    </div>
</div>
