<% if @item.closed || Time.parse(@item.created_at.to_s)+@item.time_limit-Time.now.utc <= 0 %>
	<br/>
	<div style='color:red;font-weight:bold'>Closed</div>
<%else%>
	<div id="searched_item_time_<%=@item.id%>", class="searched_item_time">
	</div>
<%end%>
