<div id="search_box">
	<br>
	<div><center>
		<%= form_tag :controller => "items", :action => "search" %>
		<%= text_field_tag :q, '', :id => "search_field_box" %>     
	</center> 
	</div>
	<div style="float:left;padding-top:13px;">
		<%= submit_tag "Search", :onclick=>"FreezeScreen('Please wait...');", :style => "margin-left:6px;" %>
	</div>
	</form>
	<div style="clear:both"></div>
</div>
	

