<div id="search_box">
	<br>
	<span>
		
			<%= form_tag :controller => "items", :action => "search",:multipart => true %>
			<%= text_field_tag :q, '', :id => "search_field_box"%>
			<%= select("item_category","", ItemCategory.find(:all, :order => "name ASC").collect {|i| [i.name, i.id]}, {:prompt => 'Select Category'}) %>
	</span>
	<span style="float:left;padding-top:13px;">
		<%= submit_tag "Search", :onclick=>"FreezeScreen('Please wait...');", :style => "margin-left:6px;" %>
	</span>
	</form>
	<div style="clear:both"></div>
</div>
